@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.form_button_container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-inline: .5rem;
}

.left_arrow_container {
    background: #EAF1F9;
    width: 5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    border-radius: 4px;
    pointer-events: all;
    cursor: pointer;
}

.left_arrow {
    font-size: 2rem;
    color: #23292F;
    pointer-events: none;
}

.right_arrow_container {   
    background: #EAF1F9;
    width: 5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    border-radius: 4px;
    pointer-events: all;
    cursor: pointer;
}

.right_arrow {
    font-size: 2rem;
    color: #23292F;
    pointer-events: none;
}