.nav_bar {
    grid-area: nav_bar;
    display: flex;
    background: #FAFCFF;
    justify-content: space-between;
    align-items: center;
    height: 8rem;
    padding-inline: 2rem;
    margin-bottom: 2rem;
    width: 100%;
    max-width: 37.5rem;
}

.alt_logo {
    width: 100%;
    max-width: 6rem;
    height: 4.5rem;
}

.preview_button {
    width: 100%;
    max-width: 8.5rem;
    height: 3rem;
    background: #6C7F93;
    color: #FAFCFF;
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}